extends setting
block display
	.display
		h2#hint
			| Loading skeleton...
		h2#timer Hold the pose to start...
		h3#openExplanation(onclick = "openExplanation()") The model is not working properly?   
		#prototype.row
			#reference.column
			#webcam.column
	button#img_id(value = img_file)
	script(src=js_file)
