doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' href='')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/setting.css')
    // Load TensorFlow.js
    // importing javascript libraries of ML5 and P5 libraries
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js')
    script(src='https://unpkg.com/ml5@0.3.1/dist/ml5.min.js' type='text/javascript')
    title Pose Estimation
  body
    .app
      h1 
        a(href="..") &#129496; You Only Yoga Once!!
      block settings