doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1(style="text-align: center;") &#129496; &#129496; You Only Yoga Once! &#129496; &#129496;
    h2(style="text-align: center;") Welcome to #{title}
    block instruction
