extends camlayout

block explanation
  div#explanation_overlay
    div.explanation
      h2 Am I not behaving properly? Try doing this...
      ul
        li Make sure to wear light clothes (I'm afraid of long paddings &#128531;)
        li Keep a proper distance, need to see you wholy &#129488;
        li Do not camouflage! Let yourself pop out from the background!  &#128517;
      p#toStartCam(onclick="closeExplanation()") Click here to close!
  block settings