extends model_explanation

block settings
  button#resetCounters(onclick='resetCounters()') Reset Timer
  button#modifyButton(onclick='hideSettings()') Show Settings
  button#defaultButton(onclick='setDefault()') Set Defaults
  #settings    
    p 
      | Drag the slider to display the current value. 
    .slidecontainer
      h3.sensitivityInfo
        | Sensitivity (?):
        span#sensitivityInfo.sensitivityInfotext
          | How different your pose should be from the reference image to be considered correct?
      span FLEXIBLE(10)
      input#sensitivityRange.slider(type='range' min='10' max='50' value='30' step='10')
      span STRICT(50)
      p.settingType
        | Value: 
        span#demo1.setValue
      //- hr
    .slidecontainer
      h3.timesInfo
        | Sets (?):
        span#timesInfo.timesInfotext
          | How many sets would you like to practice this pose?
      span MIN(1)
      input#timesRange.slider(type='range' min='1' max='10' value='4' step='1')
      span MAX(10)
      p.settingType
        | Value: 
        span#demo2.setValue
      //- hr
    .slidecontainer
      h3.secondsInfo
        | Seconds (?):
        span#secondsInfo.secondsInfotext
          | For how long (in seconds) would you like to hold this pose?
      span MIN(1)
      input#secRange.slider(type='range' min='1' max='60' value='10' step='1')
      span MAX(60)
      p.settingType
        | Value: 
        span#demo3.setValue
      hr
    script(src='../javascripts/setting_page.js')
  block display
