body {
	z-index: 0;
	width: 1280px;
	margin: auto;
	background: black;
	color: white;
}

.app {
	/*background: #4ca8dc;*/
	background: black;
	border-style: solid;
	border-color: white;
	width: 1280px;
	margin: 2% auto;
}

.app p {
	color: white;
	margin: 0 2%;
}

.app h1, h2, h3 {
	color: white;
	margin: 2%;
}

.app a {
	color: white;
	font-style: normal;
	text-decoration: none;
}

#hint {
	color: white;
	text-align: center;
}

.row {
	display: flex;
}

.column {
	width: 580px;
	flex: 50%;
	padding: 2px;	
}

#reference {
	width: 580px;
	margin: 2%;
	background: white; 

}

#webcam {
	width: 580px;
	margin: 2%;
	background: white;

}

#timer {
	color: white;
	text-align: center;
	color: #f44336;
}

#img_id {
	display: none;
}



/* Three image containers (use 25% for four, and 50% for two, etc) */
.gal_column {
  float: left;
  width: 33%;
  padding: 1px;
}

/* Clear floats after image containers */
.gal_row::after {
  content: "";
  clear: both;
  display: table;
}

#gallery {
   width: 100%;
   height: 300px;
   transform: scale(-1, 1);
}

/* .gallery {
	z-index: 1;
	top: 10px;
} */

#overlay {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 2;
}

.instructions {
	position: absolute;
	background-color: black;
	top: 50%;
	left: 50%;
	width: 800px;
	margin: auto;
	z-index: 2;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);	
	border-style: solid;
	border-color: white;
	border-radius: 20px;
}

.instructions h1, h2, h3 {
	margin: 3% 5%;
}

.instructions p, ul {
	margin: 3% 10%;
}

.instructions a {
	color: #f44336;
	font-style: normal;
	text-decoration: none;
}

#toStart {
	color: blanchedalmond;
	font-size: x-large;
	text-align: center;	
	cursor: pointer;
}

#openInstruction {
	color: gray;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
}

